<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppGroupIdentifier</key>
	<string>group.jp.prossell.prossell-mobile</string>
	<key>BundleEntryFilename</key>
	<string>index.js</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Prossell</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.mattermost</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>mattermost</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>https</string>
		<string>http</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAllowsArbitraryLoads</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Prossellがメディアにアクセスするのを許可しますか？</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>ProssellがBluetoothを常に利用することを許可しますか？</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>データ共有のためにProssellがBluetoothを利用することを許可しますか？</string>
	<key>NSCalendarsUsageDescription</key>
	<string>カレンダー機能の利用を許可しますか？</string>
	<key>NSCameraUsageDescription</key>
	<string>Prossellにカメラやビデオを行うのを許可しますか？</string>
	<key>NSFaceIDUsageDescription</key>
	<string>認証されていないユーザーから保護するためにProssellにFace IDの利用を許可しますか？</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Prossellに現在に位置情報を送ることを許可しますか？</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Prossellに現在に位置情報を送ることを許可しますか？</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>ビデオを録画するときにオーディオをキャプチャして、Prossellと共有します</string>
	<key>NSMotionUsageDescription</key>
	<string>Prossellにモーションキャプチャを許可しますか？</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Prossellに写真や動画ファイルをダウンロードすることを許可しますか？</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Prossellにアルバムの写真と動画を送信することに同意しますか？</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Prossellに音声メッセージを送ることに同意しますか？</string>
	<key>UIAppFonts</key>
	<array>
		<string>OpenSans-Bold.ttf</string>
		<string>OpenSans-BoldItalic.ttf</string>
		<string>OpenSans-ExtraBold.ttf</string>
		<string>OpenSans-ExtraBoldItalic.ttf</string>
		<string>OpenSans-Italic.ttf</string>
		<string>OpenSans-Light.ttf</string>
		<string>OpenSans-LightItalic.ttf</string>
		<string>OpenSans-Regular.ttf</string>
		<string>OpenSans-Semibold.ttf</string>
		<string>OpenSans-SemiboldItalic.ttf</string>
		<string>Roboto-Black.ttf</string>
		<string>Roboto-BlackItalic.ttf</string>
		<string>Roboto-Bold.ttf</string>
		<string>Roboto-BoldItalic.ttf</string>
		<string>Roboto-Italic.ttf</string>
		<string>Roboto-Light.ttf</string>
		<string>Roboto-LightItalic.ttf</string>
		<string>Roboto-Medium.ttf</string>
		<string>Roboto-MediumItalic.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>Roboto-Thin.ttf</string>
		<string>Roboto-ThinItalic.ttf</string>
		<string>compass-icons.ttf</string>
		<string>Mattermost-Regular.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
